body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #812981;
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #bc90bd;
    padding: 30px;
    border-radius: 12px;
    width: 600px;
    box-shadow: 0 4px 12px #00000080;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-form input,
.search-form select {
    flex: 1;
    padding: 10px;
    background-color: #812981;
    border: 1px solid #bc79bc;
    color: #e5e5e5;
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s;
}

.search-form input:focus,
.search-form select:focus {
    border-color: #ffffff;
    background-color: #b9a2b9;
}

.search-form button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #812981;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.search-form button:hover {
    background-color: #e5e5e5;
    color: #000000;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product-card {
    background-color: #865e86;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px #a690a81a;
    transition: transform 0.3s, box-shadow 0.3s;
}
.container__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}


.product-card h2 {
    color: #ffffff;
    margin: 0 0 10px;
    font-weight: bold;
}

.product-card p {
    margin: 5px 0;
    color: #d3d3d3;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    
    .product-list {
        grid-template-columns: 1fr;
    }
}
